PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=sARo5PflJmXAEYA1WkEkSKFgBCNCX19Y
DRIVE_DISK=local
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_CLIENT_REDIRECT=
DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=
STABLE_DIFFUSION_URL=
DRIVE_FILE_LOCATION